1) Crear una lista que contenga nombres de ciudades del mundo que contenga más de 5 elementos e imprimir por pantalla

In [6]:
mi_lista1 = ['Buenos Aires', 'Mendoza', 'Cordoba', 'Salta', 'Jujuy']
print(mi_lista1)

['Buenos Aires', 'Mendoza', 'Cordoba', 'Salta', 'Jujuy']

2) Imprimir por pantalla el segundo elemento de la lista

In [7]:
print(mi_lista1[1])

Mendoza

3) Imprimir por pantalla del segundo al cuarto elemento

In [8]:
print(mi_lista1[1:4])

['Mendoza', 'Cordoba', 'Salta']

4) Visualizar el tipo de dato de la lista

In [ ]:
type(mi_lista1)

5) Visualizar todos los elementos de la lista a partir del tercero de manera genérica, es decir, sin explicitar la posición del último elemento

In [9]:
print(mi_lista1[2:])

['Cordoba', 'Salta', 'Jujuy']

6) Visualizar los primeros 4 elementos de la lista

In [ ]:
print(mi_lista1[:4])

7) Agregar una ciudad más a la lista que ya exista y otra que no ¿Arroja algún tipo de error?

In [ ]:
mi_lista1.append('Salta')
mi_lista1.append('Tucuman')
print(mi_lista1)

8) Agregar otra ciudad, pero en la cuarta posición

In [ ]:
mi_lista1.insert(3, 'Misiones')
print(mi_lista1)

9) Concatenar otra lista a la ya creada

In [38]:
mi_lista2 = ['Barcelona', 'Dinamarca', 'Lima']

In [ ]:
mi_lista1.extend(mi_lista2)
print(mi_lista1)

10) Encontrar el índice de la ciudad que en el punto 7 agregamos duplicada. ¿Se nota alguna particularidad?

In [ ]:
mi_lista1.index('Salta')

11) ¿Qué pasa si se busca un elemento que no existe?

In [ ]:
mi_lista1.index('Chubut') # DA ERROR

In [10]:
'Chubut' in mi_lista1

False

12) Eliminar un elemento de la lista

In [ ]:
mi_lista1.remove('Lima')

13) ¿Qué pasa si el elemento a eliminar no existe?

In [ ]:
mi_lista1.remove('San luis') # DA ERROR

14) Extraer el úlimo elemento de la lista, guardarlo en una variable e imprimirlo

In [57]:
var14 = mi_lista1.pop()
print(var14)

Dinamarca

15) Mostrar la lista multiplicada por 4

In [ ]:
print(mi_lista1*4)

16) Crear una tupla que contenga los números enteros del 1 al 20

In [2]:
mi_tupla = (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20)

In [12]:
mi_tupla2 = tuple(range(1,21)) # OTRA FORMA DE DECLARAR UNA TUPLA
print(mi_tupla2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20)

17) Imprimir desde el índice 10 al 15 de la tupla

In [13]:
print(mi_tupla[10:16])

(11, 12, 13, 14, 15, 16)

18) Evaluar si los números 20 y 30 están dentro de la tupla

In [67]:
print(20 in mi_tupla)
print(30 in mi_tupla)

True
False

19) Con la lista creada en el punto 1, validar la existencia del elemento 'París' y si no existe, agregarlo. Utilizar una variable e informar lo sucedido.

In [ ]:
elem = 'Paris'
if(not(elem in mi_lista1)):
    mi_lista1.append('Paris')
    print("El elemento Paris se agrego a la lista 1")
else:
    print("El elemento Paris ya existe en la lista 1")

20) Mostrar la cantidad de veces que se encuentra un elemento específico dentro de la tupla y de la lista

In [14]:
print(mi_tupla.count(5))

1

21) Convertir la tupla en una lista

In [15]:
mi_lista3 = list(mi_tupla)
print(mi_lista3)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

22) Desempaquetar solo los primeros 3 elementos de la tupla en 3 variables

In [22]:
v1, v2, v3 = mi_tupla[:3] # desempaqueta los elementos
print(v1)
print(v2)
print(v3)

1
2
3

In [28]:
v1, v2, v3, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _, _ = mi_tupla # el guion bajo '_' representa el lugar pero no se usa
print(v3)

3

In [29]:
mi_tupla3 = (v1, v2, v3) # empaqueta los elementos en una tupla
print(mi_tupla3)

(1, 2, 3)

23) Crear un diccionario utilizando la lista crada en el punto 1, asignandole la clave "ciudad". Agregar tambien otras claves, como puede ser "Pais" y "Continente".

In [30]:
mi_lista4 = ['Argentina', 'Peru', 'Paraguay', 'Uruguay', 'Chile', 'Ecuador']
mi_lista5 = ['America', 'Europa', 'America', 'Africa', 'Oceania', 'Asia']

In [35]:
mi_diccionario = {'Cuidad': mi_lista1,
                  'Pais': mi_lista4,
                  'Continente': mi_lista5}
print(mi_diccionario)

{'Cuidad': ['Buenos Aires', 'Mendoza', 'Cordoba', 'Salta', 'Jujuy'], 'Pais': ['Argentina', 'Peru', 'Paraguay', 'Uruguay', 'Chile', 'Ecuador'], 'Continente': ['America', 'Europa', 'America', 'Africa', 'Oceania', 'Asia']}

24) Imprimir las claves del diccionario

In [34]:
type(mi_diccionario.keys())

dict_keys

25) Imprimir las ciudades a través de su clave

In [37]:
print(mi_diccionario['Cuidad'])

['Buenos Aires', 'Mendoza', 'Cordoba', 'Salta', 'Jujuy']